@import "../../global.scss";

.form{
    display: flex;
    width: 60vw;
    border: 2px solid grey;
    box-shadow: 10px 5px 5px $primaryColor;
    border-radius: 5px;
    padding: 20px;

    form{
        display: flex;
        flex-direction: column;

        label{
            margin: 10px;
        }

        input{
            display: block;
            width: 100%;
            padding: 0.4rem;
            font-size: 1.2rem;
            border: 1px solid #ccc;
        }
        .submit{
            display:flex;
            align-items: center;
            text-align: center;
            margin: 10px;
           

            button {
                color: white;
                background-color: $primaryColor;
                border: none;
                border-radius: 4px;
                font-size: 20px;
                font-weight: 500;
                padding: 10px 20px;
                cursor: pointer;
        
                &:focus {
                  outline: none;
                }
            }
        }
        
    }
}